{% set classes = [
  'c-view',
  'c-views-view--toggle',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

{{ attach_library('slac/views-toggle') }}

{% set grid_id = 'views-grid'|unique_id %}
{% set list_id = 'views-list'|unique_id %}

<{{ element ?: 'div' }} {{ add_attributes({ 'class': classes })}}>
{{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {% if header %}
    <div class="c-view__header">
      {{- header -}}
    </div>
  {% endif %}

  <div class="c-view__exposed">
    {{- exposed -}}
    <div class="c-view__display">
      <button class="c-view__toggle js-grid" type="button" aria-controls="{{ grid_id }}" aria-expanded="true">
       {% include '@components/icon/icon.twig' with {
         icon_name: 'grid',
         label: 'Display Grid'|t
       } %}
      </button>
      <button class="c-view__toggle js-list" type="button" aria-controls="{{ list_id }}" aria-expanded="false">
        {% include '@components/icon/icon.twig' with {
          icon_name: 'list',
          label: 'Display List'|t
        } %}
      </button>
    </div>
  </div>

  {% if rows %}
    <div id="{{ grid_id }}" class="c-view__grid">
      {{- rows -}}
    </div>
    <div id="{{ list_id }}" class="c-view__list" hidden>
      {{- attachment_before -}}
    </div>
  {% elseif empty %}
    <div class="c-view__empty">
      {{- empty -}}
    </div>
  {% endif %}

  {{ pager }}
  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <div class="c-view__footer">
      {{- footer -}}
    </div>
  {% endif %}

  {{ feed_icons }}
</{{ element ?: 'div' }}>
