{#
/**
 * @file
 * Default theme implementation to present a media item.
 *
 * Available variables:
 * - media: The media item, with limited access to object properties and
 *   methods. Only method names starting with "get", "has", or "is" and
 *   a few common methods such as "id", "label", and "bundle" are available.
 *   For example:
 *   - entity.getEntityTypeId() will return the entity type ID.
 *   - entity.hasField('field_example') returns TRUE if the entity includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   Calling other methods, such as entity.delete(), will result in
 *   an exception.
 *   See \Drupal\Core\Entity\EntityInterface for a full list of methods.
 * - name: Name of the media item.
 * - content: Media content.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - attributes: HTML attributes for the containing element.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('slac/media_detail') }}

{% set admin_info %}
{{ region_status }}
{% endset %}

{% set show_admin_info = false %}

{% if admin_info|striptags('<drupal-render-placeholder>')|trim %}
  {% set show_admin_info = true %}
{% endif %}

<div class="c-main__meta">
  {{ drupal_block('system_breadcrumb_block') }}
  {{ drupal_block('share_this_page_block') }}
</div>

{% set media_caption = content.field_body|field_value %}
{% if media_caption is empty %}
  {% set media_caption = content.field_caption|field_value %}
{% endif %}

{% include '@templates/media-detail/media-detail.twig' with {
  'media_type': content.field_type|field_value,
  'page_title': content.field_long_text|field_value ? content.field_long_text : content.name,
  'media': content.field_media_image|field_value,
  'media_cta': content.field_link|field_value,
  'media_caption': media_caption,
  'media_credit': content.field_credit|field_value,
  'tags': content.field_tags,
  'media_use': drupal_entity('block', 'media_media_use', check_access=false),
  'media_about': drupal_entity('block', 'media_about_slac', check_access=false)
} %}
{{ content.field_paragraphs }}
{{ related_content }}
{% set catch_cache = content|render %}
