{{ attach_library('slac/tabs') }}

{% set classes = [
  'c-tabs',
  modifier_classes ? modifier_classes : ''
] %}

<div {{ add_attributes({ class: classes }) }}>
  <ul class="c-tabs__list">
    {% for tab in tabs %}
      <li>
        <a href="#{{ tab.tab_id }}" class="c-tabs__link">{{ tab.tab_title }}</a>
      </li>
    {% endfor %}
  </ul>
  {% for tab in tabs %}
    <section id="{{ tab.tab_id }}" class="c-tabs__panel">
      {{ tab.tab_content }}
    </section>
  {% endfor %}
</div>
