{% set classes = [
  'c-logo',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

<span {{ add_attributes({class: classes}) }}>
  <img class="c-logo__image" src="{{ logo }}" alt="{{ title }}" loading="{{ loading|default("lazy") }}" width="{{ width }}" height="{{ height }}" />
</span>
