{{ attach_library('slac/event_detail_template') }}

{% set classes = [
  'event-detail',
  modifier_classes ? modifier_classes : ''
] %}

{% if map_iframe %}
  {% set map_content %}
    {% include '@components/map/map.twig' %}
  {% endset %}
{% endif %}

<div {{ add_attributes({ class: classes } ) }}>
  {% set events_content %}
    <div class="l-constrain l-constrain--small">
    {% if show_admin_info %}
      {% if not admin_info %}
        {% set admin_info %}
          {% include '@components/message/message.twig' with {
            'heading': 'Status message',
            'messages': ['This is a status message about <em class="placeholder">something</em> that has been updated. <a href="#">This is a link</a>.'],
          } %}
          {% include '@components/button-group/button-group.twig' with {
            'heading': 'Primary tabs',
            'element': 'nav',
            'button_modifier_classes': 'c-button--base',
            'buttons': [
              {
                'text': 'View',
                'active': true,
              },
              {
                'text': 'Edit',
              },
              {
                'text': 'Delete',
              },
              {
                'text': 'Revisions',
              },
            ],
          } %}
        {% endset %}
      {% endif %}
      {% block admin_info %}
        {{ admin_info }}
      {% endblock %}
    {% endif %}
    {{ title_prefix }}
      {% include '@components/event-details/event-details.twig' %}
    {{ title_suffix }}
      <div class="event-detail__content">
      {{ event_content }}
      </div>
      {% if speaker_content %}
        <div class="event-detail__speaker">
          {{ speaker_content }}
        </div>
      {% endif %}
      {% if event_sponsor or event_audience or event_contact %}
        {% set event_info %}
          <div class="event-detail__info c-small-paragraph">
            {% if event_sponsor %}
              <p><strong>Event Sponsor:</strong>
              {{ event_sponsor }}</p>
            {% endif %}
          </div>
        {% endset %}
        {% include '@layouts/section/section.twig' with {
          section_content: event_info
        } %}
      {% endif %}
      {{ tags }}
    </div>
  {% endset %}
  {% include '@layouts/section/section.twig' with {
    'section_content': events_content,
    'has_constrain': true,
    'modifier_classes': 'l-section--padding-bottom'
  } %}
  {{ related_content }}
  {{ visiting }}
  {% if map_content %}
    {% include '@layouts/section/section.twig' with {
      'no_padding': true,
      'has_constrain': false,
      'section_content': map_content
    } %}
  {% endif %}
</div>
