{{ attach_library('slac/hero_bg_image') }}

{% set classes = [
  'c-hero-bg-image',
  modifier_classes ? modifier_classes : ''
]|join(' ')|trim %}

{% set caption_id = 'caption'|unique_id %}

{% set hero_attributes = {
  class: classes
} %}
{% if hero_caption %}
  {% set hero_attributes = hero_attributes|merge({
    'aria-describedby': caption_id
  }) %}
{% endif %}

<div {{ add_attributes(hero_attributes) }}>
  {{ hero_image }}
  <div class="c-hero-bg-image__content">
    <div class="l-constrain">
      <div class="c-hero-bg-image__overlay">
      {% if hero_kicker %}
        {% include '@components/kicker/kicker.twig' with {
          kicker_content: hero_kicker,
          modifier_classes: false
        } %}
      {% endif %}
      {% if hero_title %}
        <h1 class="c-hero-bg-image__title">{{ hero_title }}</h1>
      {% endif %}
      {% if hero_summary %}
        <div class="c-hero-bg-image__summary">{{ hero_summary }}</div>
      {% endif %}
      {% if hero_button %}{{ hero_button}}{% else %}
      {% include '@components/icon/icon.twig' with {
        is_hidden: true,
        modifier_classes: 'c-hero-bg-image__arrow',
        icon_name: 'angle-down'
      } %}{% endif %}
      </div>
    </div>
  </div>
  {% if hero_caption %}
    <div class="l-constrain c-hero-bg-image__caption">
      {% include '@components/tooltip/tooltip.twig' with {
        tooltip_content: hero_caption,
        tooltip_id: caption_id,
        modifier_classes: 'c-hero-bg-image--right' in classes ? 'c-tooltip--align-left' : ''
      } %}
    </div>
  {% endif %}
</div>
