{% set classes = [
  'c-icon',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

{% if is_demo %}
  {% set icons = [
    'angle-double-left',
    'angle-double-right',
    'angle-down',
    'angle-left',
    'angle-right',
    'angle-up',
    'rss',
    'facebook',
    'linkedin',
    'twitter',
    'close'
   ] %}
  {% for icon in icons %}
    {% set title_id = icon|unique_id %}
    <p>
      <svg {{ add_attributes({ 'class': classes }) }} {% if label %}role="img" aria-labelledby="{{ title_id }}" {% else %}aria-hidden="true"{% endif %}>
        {% if label %}<title id="{{ title_id }}">{{ label }}</title>{% endif %}
        <use xlink:href="{{ gesso_image_path }}/sprite.artifact.svg#{{ icon }}"></use>
      </svg>
      {{ icon }}
    </p>
  {% endfor %}
{%- else -%}
  {% set title_id = icon_name|unique_id %}
  {% apply spaceless %}
    <svg {{ add_attributes({ 'class': classes }) }} {% if label %}role="img" aria-labelledby="{{ title_id }}" {% else %}aria-hidden="true"{% endif %}>
      {% if label %}<title id="{{ title_id }}">{{ label }}</title>{% endif %}
      <use xlink:href="{{ gesso_image_path }}/sprite.artifact.svg#{{ icon_name}}"></use>
    </svg>
  {% endapply %}
{%- endif -%}
