{% set classes = [
  'c-overlap-image',
  has_parallax ? 'c-overlap-image--parallax' : '',
  'c-overlap-image--purple',
  'c-overlap-image--' ~ position|default('bottom-left'),
  modifier_classes ? modifier_classes : ''
] %}

{% set caption_id = 'overlap-image'|unique_id %}

<div {{ add_attributes({ class: classes }) }}>
  <div class="c-overlap-image__image"{% if has_parallax %}style="background-image: url({{ image_url }})" role="img" aria-label="{{ image_alt }}"{% endif %}{% if image_caption %} aria-describedby="{{ caption_id }}" {% endif %}>
    {% if not has_parallax %}<img src="{{ image_url }}" alt="{{ image_alt }}" />{% endif %}
    {% if image_caption %}
      <div class="l-constrain c-overlap-image__caption">
        {% include '@components/tooltip/tooltip.twig' with {
          tooltip_content: image_caption,
          tooltip_id: caption_id,
          modifier_classes: position == 'bottom-right' ? 'c-tooltip--align-left' : ''
        } %}
      </div>
    {% endif %}
  </div>
  <div class="c-overlap-image__text">
    {{ overlap_image_content }}
  </div>
</div>
