{% set classes = [
  'c-overlap-image',
  has_parallax ? 'c-overlap-image--parallax' : '',
  box_color ? 'c-overlap-image--' ~ box_color : '',
  overlap_image_content_2 ? 'c-overlap-image--dual' : ('c-overlap-image--' ~ position|default('bottom-left')),
  modifier_classes ? modifier_classes : ''
] %}

{% set caption_id = 'overlap-image'|unique_id %}

<div {{ add_attributes({ class: classes }) }}>
  {% if position == 'top-left' or position == 'top-right' or overlap_image_content_2 %}
    <div class="c-overlap-image__text{% if icon or icon_content %} u-animate-icon{% endif %}">
      {% if icon %}
        {% include '@components/animated-icon/animated-icon.twig' with {
          animation: icon,
          color: box_color == 'white' ? 'black' : 'white',
          modifier_classes: 'c-overlap-image__icon c-animated-icon--small'
        } %}
      {% endif %}
      {% if icon_content %}{{ icon_content }}{% endif %}
      {{ overlap_image_content }}
    </div>
  {% endif  %}
  <div class="c-overlap-image__image"{% if has_parallax %}style="background-image: url({{ image_url }})" role="img" aria-label="{{ image_alt }}"{% endif %}{% if image_caption %} aria-describedby="{{ caption_id }}" {% endif %}>
    {% if not has_parallax %}<img src="{{ image_url }}" alt="{{ image_alt }}" />{% endif %}
    {% if image_caption %}
      <div class="l-constrain c-overlap-image__caption">
        {% include '@components/tooltip/tooltip.twig' with {
          tooltip_content: image_caption,
          tooltip_id: caption_id,
          modifier_classes: position == 'top-right' or position == 'center-right' or position == 'bottom-right' or overlap_image_content_2 ? 'c-tooltip--align-left' : ''
        } %}
      </div>
    {% endif %}
  </div>
  {% if position != 'top-left' and position != 'top-right' and not overlap_image_content_2 %}
    <div class="c-overlap-image__text{% if icon or icon_content %} u-animate-icon{% endif %}">
      {% if icon %}
        {% include '@components/animated-icon/animated-icon.twig' with {
          animation: icon,
          color: box_color == 'white' ? 'black' : 'white',
          modifier_classes: 'c-overlap-image__icon c-animated-icon--small'
        } %}
      {% endif %}
      {% if icon_content %}{{ icon_content }}{% endif %}
      {{ overlap_image_content }}
    </div>
  {% endif %}
  {% if overlap_image_content_2 %}
    <div class="c-overlap-image__text">{{ overlap_image_content_2 }}</div>
  {% endif %}
</div>
