{{ attach_library('slac/two_column_hero') }}

{% set classes = [
  'c-two-column-hero',
  modifier_classes ? modifier_classes : ''
] %}

{% set constrain_classes = [
  'l-constrain',
]|join(' ')|trim %}

{% set two_column_hero_content %}
  {% block page_title %}{{ page_title }}{% endblock %}
  {% block featured_content %}{{ featured_content }}{% endblock %}
{% endset %}

<div {{ add_attributes({ class: classes }) }}>
  <div class="{{ constrain_classes }}">
    {% include '@layouts/grid/grid.twig' with {
      grid_content: two_column_hero_content,
      num_of_cols: 2
    } %}
  </div>
</div>
