{% set classes = [
  'c-quote',
  modifier_classes ? modifier_classes : ''
] %}

{% set constrain_classes = [
  'l-constrain',
  'l-constrain--small'
]|join(' ')|trim %}
{% if has_constrain %}
  <div class="{{ constrain_classes }}">
  {% endif %}
  <blockquote {{ add_attributes({ class: classes } ) }}>
    {% include '@components/icon/icon.twig' with {
      'icon_name': 'quote-left',
      'is_hidden': true,
      'modifier_classes': 'c-quote__icon'
    } %}
    {{ quote_content }}
    {% if quote_author or quote_author_desc %}
      <cite class="c-quote__cite">
        {% if quote_link and quote_author %}
          <a class="c-quote__link" href="{{ quote_link }}">
            <span class="c-quote__author">
              {{ quote_author }}
            </span>
          </a>
        {% elseif quote_author %}
          <span class="c-quote__author">
            {{ quote_author }}
          </span>
        {% endif %}
        {% if quote_author_desc %}
          <span class="c-quote__desc">
            {{ quote_author_desc }}
          </span>
        {% endif %}
        {% if quote_image %}
          <span class="c-quote__image">
            {{ quote_image }}
          </span>
        {% endif %}
      </cite>
    {% endif %}
  </blockquote>
  {% if has_constrain %}
  </div>
{% endif %}
