{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: (optional) Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
{% set classes = [
  not term.isPublished() ? 'is-unpublished',
] %}

{% set attributes = attributes.addClass(classes) %}

{% set admin_info %}
{{ region_status }}
{% endset %}

{% set show_admin_info = false %}

{% if admin_info|striptags('<drupal-render-placeholder>')|trim %}
  {% set show_admin_info = true %}
{% endif %}

<div class="c-main__meta">
  {{ drupal_block('system_breadcrumb_block') }}
  {{ drupal_block('share_this_page_block') }}
</div>

{% if content.field_image|field_value is not empty %}
  {% set image_with_caption %}
  {% set tooltip %}
  {{- term.field_image.0.entity.field_caption|view -}}
  {{- term.field_image.0.entity.field_credit|view -}}
  {% endset %}

  {% include '@components/small-captioned-image/small-captioned-image.twig' with {
      image: content.field_image|field_value,
      caption: tooltip,
      modifier_classes: 'u-desktop-only',
    } %}
  {% endset %}
{% endif %}

{% include '@components/page-title/page-title.twig' with {
  page_title: name,
  lede: content.field_lede|field_value,
  kicker: content.field_kicker|field_value,
  rss_url: content.field_rss.0['#url'],
  has_sidebar: true,
  sidebar_content: image_with_caption ?: null ,
  has_constrain: true,
} %}

{% set term_content %}
{% include '@layouts/section/section.twig' with {
    'section_title': null,
    'section_content': drupal_view('landing_page_topic_views', 'topic_content_media_card'),
    'has_constrain': true,
    'modifier_classes': 'l-section--white l-section--padding-bottom',
  } %}
{{ content.field_paragraphs }}
{% endset %}

{% include '@components/article/article.twig' with {
  'title': null,
  'show_admin_info': show_admin_info,
  'lede': null,
  'admin_info': admin_info,
  'show_footer': false,
  'date': null,
  'rdf_metadata': metadata,
  'content': term_content,
} %}

{# Uncomment the following if you don’t render the content variable. #}
{# {% set catch_cache = content|render %} #}
