  {#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: (optional) Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
{% set classes = [
  not term.isPublished() ? 'is-unpublished',
] %}

{% set attributes = attributes.addClass(classes) %}

{% set admin_info %}
{{ region_status }}
{% endset %}

{% set show_admin_info = false %}

{% if admin_info|striptags('<drupal-render-placeholder>')|trim %}
  {% set show_admin_info = true %}
{% endif %}

{% set title %}
<div class="c-page-title">
  <h1>
    {{ content.field_display_name|field_value is not empty ? content.field_display_name|field_value : name }}
  </h1>
  <p class="c-lede">
    {{ content.field_lede|field_value }}
  </p>
</div>
{% endset %}

{% set featured %}
{% set view = drupal_view_result('event_type_taxonomy_term', 'next_event_large_card', term.tid.value)|length %}
{% if view > 0 %}
  {{ drupal_view('event_type_taxonomy_term', 'next_event_large_card', term.tid.value) }}
{% else %}
  {{ content.field_paragraph }}
{% endif %}
{% endset %}

{% set title_grid %}
{% include '@components/grid-with-featured/grid-with-featured.twig' with {
    'header': title,
    'featured': featured,
    'first_row': drupal_view('event_type_taxonomy_term', 'second_next_event_card', term.tid.value),
    'remaining_rows': null
  } %}
{% endset %}

{% set term_content %}
{% include '@layouts/section/section.twig' with {
    'has_constrain': true,
    'modifier_classes': 'l-section--gray-gradient l-section--no-padding',
    'section_content': title_grid,
  } %}
{{ content.field_content }}
{% endset %}

<div class="c-main__meta">
  {{ drupal_block('system_breadcrumb_block') }}
  {{ drupal_block('share_this_page_block') }}
</div>

{% include '@components/article/article.twig' with {
  'title': null,
  'lede': null,
  'show_admin_info': show_admin_info,
  'admin_info': admin_info,
  'show_footer': false,
  'rdf_metadata': metadata,
  'content': term_content,
} %}

{% set catch_cache = content|render %}
