{% set classes = [
  'c-search',
  modifier_classes ? modifier_classes : ''
] %}

{% set search_form_id = 'search-form'|unique_id %}
{% set search_id = 'search'|unique_id %}
{% set site_search_id = 'search_type_site'|unique_id %}
{% set slac_web_id = 'search_type_slac_web'|unique_id %}
{% set people_id = 'search_type_people'|unique_id %}

<div {{ add_attributes({ class: classes } ) }}>
  <button class="c-search__button" aria-expanded="true" aria-controls="{{ search_form_id }}">
    Search
    {% include '@components/icon/icon.twig' with {
      'icon_name': 'search',
      'is_hidden': true
    } %}
  </button>
  <form class="c-search__form c-mega-menu__section" id="{{ search_form_id }}" hidden>
    <div class="l-constrain l-constrain--small">
      <div class="c-search__inner">
       {% include '@components/search/_search-input.twig' %}
        <fieldset class="c-search__fieldset">
          <div>
            <input type="radio" name="search_type" value="site" id="{{ site_search_id }}" checked/>
            <label for="{{ site_search_id }}">
              {{ 'Search Site'|t }}
            </label>
          </div>
          <div>
            <input type="radio" name="search_type" value="slac_web" id="{{ slac_web_id }}"/>
            <label for="{{ slac_web_id }}">
              {{ 'SLAC Web'|t }}
            </label>
          </div>
          <div>
            <input type="radio" name="search_type" value="people" id="{{ people_id }}"/>
            <label for="{{ people_id }}">
              {{ 'Search People'|t }}
            </label>
          </div>
        </fieldset>
        <button type="submit" class="c-search__submit">
          {% include '@components/icon/icon.twig' with {
            'icon_name': 'search',
            'label': 'Submit'|t
          } %}
        </button>
      </div>
      {% if search_links %}
      <div class="c-search__links">
        {{ search_links }}
      </div>
      {% endif %}
    </div>
    <button aria-label="{{ 'Close menu'|t }}" class="c-mega-menu__section-close c-menu__section-close">
      {% include '@components/icon/icon.twig' with {
        icon_name: 'close',
        modifier_classes: 'c-menu__close-icon',
        is_hidden: true,
        gesso_image_path: gesso_image_path
      } %}
    </button>
  </form>
</div>
