{% set classes = [
'c-filter-modal',
modifier_classes ? modifier_classes : ''
] %}

{{ attach_library('slac/filter_modal') }}

<div {{ add_attributes({ class: classes } ) }}>
  <button class="js-lightbox c-filter-modal__trigger c-button" type="button" aria-controls="{{ lightbox_id }}">
    {{ button_text }}{% include '@components/icon/icon.twig' with {
      'icon_name': 'angle-down',
      'is_hidden': true,
      'modifier_classes': null,
      'is_demo': false
    } %}
  </button>
  <form {{ add_attributes({ class:['c-filter-modal__inner', 'u-hidden'], id: lightbox_id }) }}>
    {% apply spaceless %}<button class="js-lightbox__close c-filter-modal__close" type="button">
      Close
      {%- include '@components/icon/icon.twig' with {
        'icon_name': 'close',
        'is_hidden': true,
        'is_demo': false,
        'modifier_classes': null
      } -%}
    </button>{% endapply %}
    <fieldset>
      {% if filter_title %}
        <legend class="c-filter-modal__title">{{ filter_title }}</legend>
      {% endif %}
      <div class="c-filter-modal__content">
      {% block modal_content %}
        {{ filters }}
      {% endblock %}
      </div>
    </fieldset>

    <div class="c-filter-modal__footer">
      <div class="c-filter-modal__actions">
        <button class="c-button c-filter-modal__apply" type="button">
          {{ 'Apply Filters'|t }}
        </button>
        <button class="c-filter-modal__clear c-button c-button--outline" type="button">
          {{ 'Reset'|t }}
        </button>
      </div>
    </div>
  </form>
</div>
