{% set classes = [
  'publication-detail',
  modifier_classes ? modifier_classes : ''
] %}

{% set main_content %}
  {% include '@components/page-title/page-title.twig' with {
    'kicker': publication_type,
    'page_title': publication_title
  } %}
  {{ content }}
{% endset %}

{% set sidebar_content %}
  {% if publication_authors %}
    <h2 class="h5">{{ 'Author(s)'|t }}</h2>
    <ul class="c-list--clean">
      {% for author in publication_authors %}
        <li>{{ author }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if publisher %}
    <h2 class="h5">{{ 'Publisher'|t }}</h2>
    {{ publisher }}
  {% endif %}
  {% if publication_date %}
    <h2 class="h5">{{ 'Publication Date'|t }}</h2>
    {{ publication_date }}
  {% endif %}
  {% if publication_doi %}
    <h2 class="h5">{{ 'DOI'|t }}</h2>
    {{ publication_doi }}
  {% endif %}
{% endset %}

<div {{ add_attributes({ class: classes }) }}>
  {% include '@layouts/sidebar/sidebar.twig' with {
    'sidebar_main_content': main_content,
    'sidebar_first_content': sidebar_content,
    'modifier_classes': 'l-sidebar--reverse'
  } %}
</div>
