{{ attach_library('slac/mega_menu') }}

{% import '@components/mega-menu/_menu-links-macro.twig' as menus %}

{% set classes = [
  'c-mega-menu',
  modifier_classes ? modifier_classes : ''
] %}

<ul {{ add_attributes({ 'class': classes }) }}>
  {% for item in items %}
    {% set item_classes = [
      'c-mega-menu__item',
      item.below ? 'has-subnav' : '',
      item.in_active_trail ? 'in-active-trail' : '',
    ] %}
    {% set item_description = item.content ? item.content.field_link_description|render|striptags|trim : item.description %}
    {% set item_section = item.content ? item.content.field_menu_section|render|striptags|trim : item.section %}
    <li {{ add_attributes({ 'class': item_classes }) }}>
      {% if item.below %}
        <button class="c-mega-menu__link js-top-level{% if item.in_active_trail %} is-active-trail{% endif %}" aria-expanded="false" aria-controls="mega-menu-{{ menu_name }}--{{ loop.index }}">
          <span>{{ item.title }}</span>
        </button>
        <div class="c-mega-menu__section c-menu-menu__section--{{ item_section }}" id="mega-menu-{{ menu_name }}--{{ loop.index }}" hidden>
          <div class="c-mega-menu__section-inner">
            <ul {{ add_attributes({class: ['c-mega-menu__subnav']}) }}>
              <li class="c-mega-menu__item">
                {% set link_classes = ['c-mega-menu__link'] %}
                {{ link(item.title, item.url, {class: ['c-mega-menu__link']}) }}
                {% if item_description %}
                  <p class="c-mega-menu__description">{{ item_description }}</p>
                {% endif %}
              </li>
              {{ menus.menu_links(item.below, attributes, 1) }}
              {% if item_section == 'about' or item_section == 'news-events' %}
                {% block social_links %}
                  <li class="c-mega-menu__item">
                    <a class="c-mega-menu__link" href="#0">{{ 'Connect with Us'|t }}</a>
                    {% include '@components/social-links/social-links.twig' with {
                      'facebook': '#',
                      'twitter': '#',
                      'instagram': '#',
                      'flickr': '#',
                      'youtube': '#',
                      'linkedin': '#',
                    } %}
                  </li>
                {% endblock %}
              {% endif %}
            </ul>
            {% block featured %}
              {{ item.featured }}
            {% endblock %}
          </div>
          <button aria-label="{{ 'Close menu'|t }}" class="c-mega-menu__section-close c-menu__section-close">
            {% include '@components/icon/icon.twig' with {
              icon_name: 'close',
              modifier_classes: 'c-menu__close-icon',
              is_hidden: true,
              gesso_image_path: gesso_image_path
            } %}
          </button>
        </div>
      {% else %}
        {{ link(item.title, item.url, {class: ['c-mega-menu__link js-top-level']}) }}
      {% endif %}
    </li>
  {% endfor %}
</ul>
