{% set classes = [
  'c-tagline',
  modifier_classes ? modifier_classes : ''
] %}

<div {{ add_attributes({ class: classes }) }}>
  <h2 class="c-tagline__heading">
    <span>{{ tagline1 }}</span><br>
    <span>{{ tagline2 }}</span><br>
    <span>{{ tagline3 }}</span>
  </h2>
  {% if tagline_content %}{{ tagline_content }}{% endif %}
</div>
