{% set classes = [
  'c-event-date',
  modifier_classes ? modifier_classes : '',
] %}

{% set is_multiday = end_date.day and end_date.day != start_date.day %}
{% set is_multimonth = end_date.month and end_date.month != start_date.month %}

<div {{ add_attributes({ class: classes } ) }}>
  {% if start_date %}
    <div>
      {% if start_date.month %}<span class="c-event-date__month">{{ start_date.month }}</span>{% endif %}
      {{- start_date.day -}}{% if is_multiday and is_multimonth == false %}<span>&ndash;</span> {{- end_date.day -}}{% endif %}
    </div>
  {% endif %}

  {% if is_multimonth %}{% apply spaceless %}
    <div>
      –
    </div>
    <div>
      <span class="c-event-date__month">{{ end_date.month }}</span>
      {{- end_date.day -}}
    </div>
  {% endapply %}{% endif %}
</div>
