{% set classes = [
  'c-pager',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

{% if pager_items %}
  <nav {{ add_attributes({ 'class': classes, 'aria-label': heading|default('Pagination'), 'role': 'navigation' } )}}>
    <ul
      class="c-pager__items js-pager__items">

      {# Print previous arrow if we are not on the first page. #}
      {% if pager_items.previous %}
        {% set link_label = 'Go to previous page'|t %}
        <li class="c-pager__item c-pager__item--previous">
          {% if pager_items.previous.href %}
            <a class="c-pager__link c-pager__link--previous" href="{{ pager_items.previous.href }}" aria-label="{{ link_label }}" title="{{ link_label }}" rel="prev" {{ pager_items.previous.attributes|without('aria-label', 'href', 'rel', 'title') }}>
              {%- spaceless %}
                {% include '@components/icon/icon.twig' with {
                'is_hidden': true,
                'modifier_classes': 'c-icon--pager',
                'icon_name': 'angle-left',
              } %}
                <span class="u-visually-hidden">
                  {{ link_label }}
                </span>
              {% endspaceless -%}
            </a>
          {% else %}
            <span class="c-pager__link c-pager__link--previous" {{ pager_items.previous.attributes|without('aria-label', 'href', 'rel', 'title') }}>
              {%- spaceless %}
                {% include '@components/icon/icon.twig' with {
                'is_hidden': true,
                'modifier_classes': 'c-icon--pager',
                'icon_name': 'angle-left',
              } %}
                <span class="u-visually-hidden">
                  {{ link_label }}
                </span>
              {% endspaceless -%}
            </span>
          {% endif %}
        </li>
      {% endif %}

      {# First page. #}
      {% if pager_items.first %}
        {% set key = pager_items.first.text %}
        <li class="c-pager__item">
          {% set link_label = 'Go to page ' ~ key %}
          <a class="c-pager__link" href="{{ pager_items.first.href }}" aria-label="{{ link_label }}" title="{{ link_label }}" {{ pager_items.first.attributes|without('aria-label', 'href', 'title') }}>
            <span class="u-visually-hidden">
              {{ 'Page'|t }}
            </span>
            {{- key -}}
          </a>
        </li>
      {% endif %}
      {# Add an ellipsis if there are further previous pages. #}
      {% if ellipses.previous %}
        <li class="c-pager__item c-pager__item--ellipsis" role="presentation">
          …
        </li>
      {% endif %}

      {# Now generate the actual pager piece. #}
      {% for key, item in pager_items.pages %}
        {% if item.href != pager_items.first.href and item.href != pager_items.last.href %}
          <li class="c-pager__item{{ current == key ? ' c-pager__item--current' : '' }}">
            {% if current == key %}
              <span class="u-visually-hidden">
                {{ 'Currently on page'|t }}
              </span>
              {{- key -}}
            {% else %}
              {% set link_label = 'Go to page ' ~ key %}
              <a class="c-pager__link" href="{{ item.href }}" aria-label="{{ link_label }}" title="{{ link_label }}" {{ item.attributes|without('aria-label', 'href', 'title') }}>
                <span class="u-visually-hidden">
                  {{ 'Page'|t }}
                </span>
                {{- key -}}
              </a>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}

      {# Add an ellipsis if there are further next pages. #}
      {% if ellipses.next %}
        <li class="c-pager__item c-pager__item--ellipsis" role="presentation">
          …
        </li>
      {% endif %}

      {# Last page. #}
      {% if pager_items.last %}
        {% set key = pager_items.last.text %}
          <li class="c-pager__item">
          {% set link_label = 'Go to page ' ~ key %}
          <a class="c-pager__link" href="{{ pager_items.last.href }}" aria-label="{{ link_label }}" title="{{ link_label }}" {{ pager_items.first.attributes|without('aria-label', 'href', 'title') }}>
            <span class="u-visually-hidden">
              {{ 'Page'|t }}
            </span>
            {{- key -}}
          </a>
          </li>
      {% endif %}

      {# Print next arrow if we are not on the last page. #}
      {% if pager_items.next %}
        {% set link_label = 'Go to next page'|t %}
        <li class="c-pager__item c-pager__item--next">
          {% if pager_items.next.href %}
            <a class="c-pager__link c-pager__link--next" href="{{ pager_items.next.href }}" aria-label="{{ link_label }}" title="{{ link_label }}" rel="next" {{ pager_items.next.attributes|without('aria-label', 'href', 'rel', 'title') }}>
              {%- spaceless %}
                <span class="u-visually-hidden">
                  {{ link_label }}
                </span>
                {% include '@components/icon/icon.twig' with {
                'is_hidden': true,
                'modifier_classes': 'c-icon--pager',
                'icon_name': 'angle-right',
              } %}
              {% endspaceless -%}
            </a>
          {% else %}
            <span class="c-pager__link c-pager__link--next" {{ pager_items.next.attributes|without('aria-label', 'href', 'rel', 'title') }}>
              {%- spaceless %}
                <span class="u-visually-hidden">
                  {{ link_label }}
                </span>
                {% include '@components/icon/icon.twig' with {
                'is_hidden': true,
                'modifier_classes': 'c-icon--pager',
                'icon_name': 'angle-right',
              } %}
              {% endspaceless -%}
            </span>
          {% endif %}
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
