{% set classes = [
  'c-event-details',
  is_past_event ? 'c-event-details--past' : '',
  modifier_classes ? modifier_classes : ''
] %}

{{ attach_library('slac/event_details') }}

<div {{ add_attributes({ class: classes } ) }}>
  {% if event_type %}
    {% include '@components/event-hat/event-hat.twig' %}
  {% endif %}

  <div class="{% if video %}c-event-details__video{% else %}c-event-details__image{% endif %}">
    {% if video %}
      {{ video }}
    {% elseif image %}
      {{ image }}
      {% if not is_past_event %}<div class="c-card__gradient"></div>{% endif %}
    {% endif %}
    {% if start_date and not is_past_event and not video %}
      {% include '@components/event-date/event-date.twig' %}
    {% endif %}
  </div>

  <div class="c-event-details__section">
    {% if calendar_link_text %}
      <div class="c-event-details__when">
        {% include '@components/icon/icon.twig' with {
          hidden: true,
          label: 'Date',
          icon_name: 'calendar',
        } %}
        <span{% if is_past_event %} class="is-past-event"{% endif %}>
          {% if calendar_link_url and not is_past_event %}
            <a class="href="{{ calendar_link_url }}" title="{{ 'Add to calendar'|t }}">
              {{ calendar_link_text|raw }}
            </a>
          {% else %}
            {{ calendar_link_text|raw }}
          {% endif %}
        </span>
      </div>
    {% endif %}

    {% if map_link_text %}
      <div class="c-event-details__where">
        {% include '@components/icon/icon.twig' with {
            hidden: true,
            label: 'Location',
            icon_name: 'location',
          } %}
        {% if map_link_url  %}
          <a href="{{ map_link_url }}" title="{{ 'Get directions'|t }}">
            {{ map_link_text }}
          </a>
        {% else %}
          {{ map_link_text }}
        {% endif %}
      </div>
    {% endif %}
  </div>

  <div class="c-event-details__section">
    {% block event_ctas %}
      {% for cta in ctas %}
        {% include '@components/button/button.twig' with {
          is_button_tag: false,
          url: cta.url,
          text: cta.text,
          modifier_classes: 'c-button--chevron c-event-details__button',
      } %}
      {% endfor %}
    {% endblock %}

    {% if zoom_details %}
      <div class="c-event-details__info">
        {{ zoom_details }}
      </div>
    {% endif %}
  </div>

  {% block additional_links_section %}
    {% if additional_links %}
      <div class="c-event-details__section">
        {% for link in additional_links %}
         {{ link }}
        {% endfor %}
      </div>
    {% endif %}
  {% endblock %}

</div>
