{% set classes = [
  'c-card',
  alignment ? 'c-card--align-' ~ alignment : '',
  not url ? 'c-card--no-link' : '',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

{% set is_teaser = 'c-card--teaser' in modifier_classes %}
{% if is_teaser %}
  {% if kicker and type %}
    {% set kicker %}
      {{ type }} · {{ kicker }}
    {% endset %}
  {% elseif type and not kicker %}
    {% set kicker = type %}
  {% endif %}
{% endif %}

<div {{ add_attributes({ 'class': classes } ) }}>
  <div class="c-card__body{% if alignment %} u-fade-{{ alignment }}-desktop{% endif %}">
    {% if type and not is_teaser %}
      <div class="c-kicker c-card__type">
        {{ type }}
      </div>
    {% endif %}
    <div class="c-card__header">
      {% if kicker %}
        <div class="c-kicker">
          {{ kicker }}
        </div>
      {% endif %}
      {% apply spaceless %}
      <h3 class="c-card__title h5">
        {% if url %}
          <a href="{{ url }}" class="c-card__link c-arrow-link{% if 'c-card--on-dark' in modifier_classes %} c-arrow-link--white{% endif %}">
            {{- title -}}
          </a>
        {% else %}
          {{- title -}}
        {% endif %}
      </h3>
      {% endapply %}
      {% if card_metadata %}
        <div class="c-card__metadata">
          {{ card_metadata }}
        </div>
      {% endif %}
    </div>
    <div class="c-card__content">
      {{ card_content }}
    </div>
    {% if footer or event_date or event_location %}
      <div class="c-card__footer">
        {{ footer }}

        {% if event_date %}
          <div class="c-card__date">
            {% include '@components/icon/icon.twig' with {
            'icon_name': 'calendar',
            'hidden': true,
            'label': 'Date',
          } %}
            {{ event_date }}
          </div>
        {% endif %}

        {% if event_location %}
          <div class="c-card__location">
            {% include '@components/icon/icon.twig' with {
            'icon_name': 'location',
            'hidden': true,
            'label': 'Location',
          } %}
            {{ event_location }}
          </div>
        {% endif %}

      </div>
    {% endif %}
  </div>
  {% if media %}
    {% if event_type %}
      {% include '@components/event-hat/event-hat.twig' %}
    {% endif %}
    <div class="c-card__media">
      {{ media }}

      {% if is_event and start_date %}
        <div class="c-card__gradient"></div>
        {% include '@components/event-date/event-date.twig' %}
      {% endif %}

      {% if is_video %}
        <div class="c-card__gradient"></div>
        <div class="c-card__icon">
          {% include '@components/icon/icon.twig' with {
            icon_name: 'play',
            hidden: true,
            label: 'Video',
          } %}
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>
