{% set classes = [
  'c-tooltip',
  modifier_classes ? modifier_classes : ''
] %}

{{ attach_library('slac/tooltip') }}

{% if not tooltip_id %}
  {% set tooltip_id = 'tooltip'|unique_id %}
{% endif %}

<div {{ add_attributes({ class: classes }) }}>
  <button class="c-tooltip__button" aria-label="{{ 'More information'|t }}" aria-controls="{{ tooltip_id }}">
    {% include '@components/icon/icon.twig' with {
      'icon_name': 'info',
      'is_hidden': true
    } %}
  </button>
  <div class="c-tooltip__tooltip" hidden id="{{ tooltip_id }}" role="tooltip">{{ tooltip_content }}</div>
</div>
