{% set classes = [
  'l-section',
  no_padding ? 'l-section--no-padding' : '',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

{% set constrain_classes = [
  'l-constrain',
  constrain_modifier_classes ? constrain_modifier_classes : '',
]|join(' ')|trim %}

<section {{ add_attributes({ 'class': classes }) }}>
  {% if has_constrain %}
    <div {{ add_attributes({ 'class': constrain_classes }) }}>
  {% endif %}

  {% if section_kicker %}
    {% include "@components/kicker/kicker.twig" with {
      'modifier_classes': 'l-section__kicker',
      'kicker_content': section_kicker
    } %}
  {% endif%}

  {% if section_title %}
    <{{ section_title_element ?: 'h2' }} class="l-section__title">
      {% if section_title_url %}<a href="{{ section_title_url }}" class="{% if is_rss %}rss-link{% else %}c-arrow-link{% endif %}">{% endif %}
        {{ section_title }}
      {% if section_title_url %}</a>{% endif %}
      {% if is_rss %}
        {% include "@components/icon/icon.twig" with {
          'icon_name': 'rss',
          'is_hidden': true
        } %}
      {% endif %}
    </{{ section_title_element ?: 'h2' }}>
  {% endif %}

  {% if section_intro %}
    <div class="l-section__intro">
      {% include '@components/wysiwyg/wysiwyg.twig' with {
        content: section_intro,
        modifier_classes: false
      } %}
    </div>
  {% endif %}

  <div class="l-section__content">
    {% block content %}
      {{ section_content }}
    {% endblock %}
  </div>

  {% if section_buttons %}
    <div class="l-section__buttons">
      {{ section_buttons }}
    </div>
  {% endif %}

  {% if has_constrain %}
    </div>
  {% endif %}
</section>
