{% set classes = [
  'l-footer',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

{% set constrain_classes = [
  'l-constrain',
  constrain_modifier_classes ? constrain_modifier_classes : '',
]|join(' ')|trim %}

<footer {{ add_attributes({
  'class': classes,
  'role': 'contentinfo'
}) }}>
  {% if has_constrain %}
    <div {{ add_attributes({ 'class': constrain_classes }) }}>
  {% endif %}
      <div class="l-footer__contact">
  {% block footer_contact %}
    <div>
      <strong>XYZ | Name of Organization</strong>
      <address>
        Sand Hill Road<br>
        Menlo Park, CA 94025-7015<br>
        650.926.3300
      </address>
    </div>
    <ul class="l-footer__contact-links">
      <li><a href="#0" class="c-arrow-link">Contact Us</a></li>
      <li><a href="#0" class="c-arrow-link">Coming to SLAC</a></li>
      <li><a href="#0" class="c-arrow-link">Connect With Us</a></li>
    </ul>
  {% endblock %}
      </div>
      <div class="l-footer__menu">
        {% block footer_menu %}
          {{ menu }}
        {% endblock %}
      </div>
      <div class="l-footer__social">
        {% include '@components/social-links/social-links.twig' with {
          'facebook': '#',
          'twitter': '#',
          'instagram': '#',
          'flickr': '#',
          'youtube': '#',
          'linkedin': '#',
        } %}
      </div>
      <div class="l-footer__utility">
        {% block footer_global_menu %}
          {{ global_menu }}
        {% endblock %}
        {% block footer_utility_menu %}
          {{ utility_menu }}
        {% endblock %}
      </div>
  {% if has_constrain %}
    </div>
  {% endif %}
</footer>
