{% set classes = [
  'c-text-block',
  modifier_classes ? modifier_classes : ''
] %}

<div {{ add_attributes({ class: classes }) }}>
  {% if kicker %}
    {% include '@components/kicker/kicker.twig' with {
      kicker_content: kicker
    } %}
  {% endif %}
  {% if title %}
    <{{ title_tag ?: 'h2' }}>
      {% if title_url %}<a href="{{ title_url }}" class="c-arrow-link">{% endif %}
      {{ title }}
      {% if title_url %}</a>{% endif %}
    </{{ title_tag ?: 'h2' }}>
  {% endif %}
  {% if text_block_content or text_block_media %}
    <div class="c-text-block__content">
      {% if text_block_content %}
        <div class="c-text-block__text">
          {% include '@components/wysiwyg/wysiwyg.twig' with {
            content: text_block_content,
            modifier_classes: 'c-wysiwyg--no-constrain'
          } %}
        </div>
      {% endif %}
      {% if text_block_media %}
        <div class="c-text-block__media">{{ text_block_media }}</div>
      {% endif %}
    </div>
  {% endif %}
</div>
