{% set classes = [
  'c-citation',
  modifier_classes ? modifier_classes : ''
] %}

<div {{ add_attributes({ class: classes } ) }}>
  {{ citation_content }}
  {#
        {{ author }}
        {{ year ? '(' ~ year ~ '). ' : '' }}
        {% if url %}
        <a href="{{ url }}" class="c-citation__link">
          {{ title ~ '.' -}}
        </a>
        {% else %}

        <span class="c-citation__publisher">
          {{ publication_info ~ '. ' }}
        </span>
        {{ doi_link }} #}
</div>
