{% set classes = [
  'c-card',
  'c-card--small',
  not url ? 'c-card--no-link' : '',
  modifier_classes ? modifier_classes : ''
] %}

<div {{ add_attributes({ class: classes } ) }}>
  <div class="c-card__body">
    {% if kicker %}
      {% include '@components/kicker/kicker.twig' with {
        kicker_content: kicker
      } %}
    {% endif %}
    {% if title %}
      <h3 class="c-card__title h5">
        {% if url %}
          <a href="{{ url }}" class="c-card__link c-arrow-link">
            {{- title -}}
          </a>
        {% else %}
          {{- title -}}
        {% endif %}
      </h3>
    {% endif %}
    {% if media %}
      <div class="c-card__media">
        {{ media }}
      </div>
    {% elseif icon %}
      <div class="c-card__media c-card__icon">
        {{ icon }}
      </div>
    {% endif %}
  </div>
</div>
