{{ attach_library('slac/accordion') }}

{% set classes = [
  'c-accordion',
  modifier_classes ? modifier_classes : '',
] %}

<div {{ add_attributes({ class: classes }) }}>
  {% if accordion_title %}
  <{{ title_tag|default('h2') }} class="c-accordion__title">{{ accordion_title }}</{{ title_tag|default('h2')  }}>
  {% endif %}
  {% if accordion_items %}
    <div
        class="c-accordion__content js-accordion"
        data-allow-multiple
        data-allow-toggle
    >
      {{ accordion_items }}
    </div>
  {% endif %}
</div>
