{{ attach_library('slac/people_profile') }}

{% set classes = [
  'people-profile',
  'l-section',
  'l-section--padding-bottom',
  modifier_classes ? modifier_classes : ''
] %}

{% set main_content %}
  <h1>{{ bio_name }}</h1>
  {% block bio_content %}
    {% if bio_job_title %}
      {% include '@components/field/field.twig' with {
        'hide_label': true,
        'hide_content_wrapper': true,
        'field_items': [{'content': bio_job_title}],
        'modifier_classes': 'people-profile__subtitle',
      } %}
    {% endif %}
    {% if bio_organization %}
      {% include '@components/field/field.twig' with {
        'hide_label': true,
        'hide_content_wrapper': true,
        'field_items': [{'content': bio_organization}],
        'modifier_classes': 'people-profile__description',
      } %}
    {% endif %}
    {{ bio_page_content }}
    {% if bio_interestareas %}
      {% include '@components/field/field.twig' with {
        'field_items': [{'content': bio_interestareas}],
        'label': 'Areas of Interest and Research',
        'modifier_classes': 'people-profile__field'
      } %}
    {% endif %}
    {% if bio_education %}
      {% include '@components/field/field.twig' with {
        'field_items': [{'content': bio_education}],
        'label': 'Education',
        'modifier_classes': 'people-profile__field'
      } %}
    {% endif %}
    {% if bio_awardshonors %}
      {% include '@components/field/field.twig' with {
        'field_items': [{'content': bio_awardshonors}],
        'label': 'Awards & Honors',
        'modifier_classes': 'people-profile__field'
      } %}
    {% endif %}
    {% if bio_affiliations %}
      {% include '@components/field/field.twig' with {
        'field_items': [{'content': bio_affiliations}],
        'label': 'Affiliations',
        'modifier_classes': 'people-profile__field'
      } %}
    {% endif %}
    {% if bio_links %}
      {% include '@components/field/field.twig' with {
        'field_items': [{'content': bio_links}],
        'label': 'Links',
        'modifier_classes': 'people-profile__field'
      } %}
    {% endif %}
    {{ bio_profile_link }}
  {% endblock %}
{% endset %}

{% set sidebar_content %}
  {% if bio_image %}
    <div class="people-profile__image">{{ bio_image }}</div>
  {% endif %}
  {% if bio_email or bio_phone or bio_mobile or bio_fax %}
    <h2 class="h5">{{ 'Contact'|t }}</h2>
    {% if bio_email %}<div class="people-profile__contact"><a href="mailto:{{ bio_email }}" title="{{ 'Send email' }}">{{ bio_email }}</a></div>{% endif %}
    {% if bio_phone %}<div class="people-profile__contact"><a href="tel:+1{{ bio_phone|replace({'.': ''}) }}" title="{{ 'Call number' }}">{{ bio_phone }} ({{ 'telephone'|t }})</a></div>{% endif %}
    {% if bio_mobile %}<div class="people-profile__contact"><a href="tel:+1{{ bio_mobile|replace({'.': ''}) }}" title="{{ 'Call number' }}">{{ bio_mobile }} ({{ 'mobile'|t }})</a></div>{% endif %}
    {% if bio_fax %}<div class="people-profile__contact">{{ bio_fax }} ({{ 'FAX'|t }})</div>{% endif %}
  {% endif %}
  {% if bio_location_name or bio_location_address %}
    <h2 class="h5">{{ 'Location'|t }}</h2>
    {% if bio_location_name %}<div class="people-profile__contact">{{ bio_location_name }}</div>{% endif %}
    {% if bio_location_address %}<div class="people-profile__contact">{{ bio_location_address }}</div>{% endif %}
    {% if bio_map %}<div class="people-profile__contact">
      {% include '@components/icon/icon.twig' with {
        'icon_name': 'location',
        'is_hidden': true
      } %}<a href="{{ bio_map }}" title="{{ 'Get directions'|t }}">{{ 'View Map'|t }}</a>
    </div>{% endif %}
  {% endif %}
{% endset %}

<div {{ add_attributes({ class: classes }) }}>
  {% include '@layouts/sidebar/sidebar.twig' with {
    'sidebar_main_content': main_content,
    'sidebar_first_content': sidebar_content,
    'modifier_classes': 'l-sidebar--reverse'
  } %}
</div>
