{% set classes = [
  'c-page-title',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

{% set constrain_classes = [
  'l-constrain',
  'l-constrain--small',
]|join(' ')|trim %}

<header {{ add_attributes({ 'class': classes })}}>
  {% if has_constrain %}<div class="{{ constrain_classes }}">{% endif %}
    <div>
      {% if kicker %}
        {% include '@components/kicker/kicker.twig' with {
          'kicker_content': kicker,
          'modifier_classes': 'c-kicker--big'
        } %}
      {% endif %}
      <h1 class="c-page-title__title">{{ page_title }}{% if rss_url %}
          <a class="c-rss-feed" href="{{ rss_url }}" aria-label="{{ 'RSS feed'|t }}">{% include '@components/icon/icon.twig' with {
              'icon_name': 'rss',
              'label': 'RSS feed'|t,
              'modifier_classes': 'c-page-title__icon'
            } %}</a>
        {% endif %}</h1>
      {% if lede %}
        {% include '@components/lede/lede.twig' with {
          'lede_content': lede
        } %}
      {% endif %}
      {% if byline %}
        <p>{{ 'By'|t }} {{ byline }}</p>
      {% endif %}
    </div>
    {% if has_constrain %}</div>{% endif %}
</header>
