{% set classes = [
  'c-page-title',
  has_sidebar ? 'c-page-title--sidebar' : '',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

{% set constrain_classes = [
  'l-constrain',
  not has_sidebar ? 'l-constrain--small' : '',
]|join(' ')|trim %}

<header {{ add_attributes({ 'class': classes })}}>
  {% if has_constrain %}<div class="{{ constrain_classes }}">{% endif %}
    <div>
      {% if kicker %}
        {% include '@components/kicker/kicker.twig' with {
          'kicker_content': kicker,
          'modifier_classes': 'c-kicker--big'
        } %}
      {% endif %}
      <h1 class="c-page-title__title">{{ page_title }}{% if rss_url %}
          <a class="c-rss-feed" href="{{ rss_url }}" aria-label="{{ 'RSS feed'|t }}">{% include '@components/icon/icon.twig' with {
              'icon_name': 'rss',
              'label': 'RSS feed'|t,
              'modifier_classes': 'c-page-title__icon'
            } %}</a>
        {% endif %}</h1>
      {% if lede %}
        {% include '@components/lede/lede.twig' with {
          'lede_content': lede
        } %}
      {% endif %}
      {% if byline %}
        <p>{{ 'By'|t }} {{ byline }}</p>
      {% endif %}
    </div>
    {% if sidebar_content or has_sidebar %}
      <div class="c-page-title__sidebar">
        {{ sidebar_content }}
          {% if hero_caption %}
            {# <div class="l-constrain c-article-hero__inner"> #}
              {% include '@components/tooltip/tooltip.twig' with {
                tooltip_content: hero_caption,
                tooltip_id: caption_id
              } %}
            {# </div> #}
        {% endif %}
      </div>
    {% endif %}
    {% if has_constrain %}</div>{% endif %}
</header>
