{% set classes = [
  'c-bio-page',
  bio_image ? 'c-bio-page--image' : 'c-bio-page--no-image',
  modifier_classes ? modifier_classes : ''
] %}

{{ attach_library('slac/bio_page') }}

<div {{ add_attributes({ class: classes }) }}>
  {% if show_admin_info %}
    {% if not admin_info %}
      {% set admin_info %}
        {% include '@components/message/message.twig' with {
          'heading': 'Status message',
          'messages': ['This is a status message about <em class="placeholder">something</em> that has been updated. <a href="#">This is a link</a>.'],
        } %}
        {% include '@components/button-group/button-group.twig' with {
          'heading': 'Primary tabs',
          'element': 'nav',
          'button_modifier_classes': 'c-button--base',
          'buttons': [
            {
              'text': 'View',
              'active': true,
            },
            {
              'text': 'Edit',
            },
            {
              'text': 'Delete',
            },
            {
              'text': 'Revisions',
            },
          ],
        } %}
      {% endset %}
    {% endif %}

    {% block admin_info %}
      {{ admin_info }}
    {% endblock %}
  {% endif %}
  <div class="c-bio-page__inner">
    {{ title_prefix }}
    {% include '@components/page-title/page-title.twig' with {
      kicker: bio_kicker,
      page_title: bio_name,
      lede: bio_job_title,
      has_constrain: false,
      modifier_classes: 'c-bio-page__title'
    } %}
    {{ title_suffix }}
    {% if bio_image %}
      {% include '@components/figure/figure.twig' with {
        media: bio_image,
        caption: bio_image_caption,
        modifier_classes: 'c-bio-page__image u-align-center'
      } %}
    {% endif %}
    {% if bio_page_content %}
      {% set bio_page_content_stripped = bio_page_content|render|striptags|trim %}
      {% set bio_page_content_collapsed_stripped = bio_page_content_collapsed|render|striptags|trim %}
      {% set bio_page_content_display %}
        {% if bio_page_content_stripped and bio_page_content_collapsed_stripped and bio_page_content_stripped != bio_page_content_collapsed_stripped %}
          {% include '@components/drawer/drawer.twig' with {
            'drawer_content_placement': 'above',
            'drawer_default_state': 'collapsed',
            'drawer_content_expanded': bio_page_content,
            'drawer_content_collapsed': bio_page_content_collapsed,
            'drawer_trigger_label_expanded': 'Show less',
            'drawer_trigger_label_collapsed': 'Show more',
            'trigger_modifier_classes': 'c-button--outline'
          } %}
        {% elseif bio_page_content_stripped %}
          {{ bio_page_content }}
        {% endif %}
      {% endset %}
      {% include '@components/wysiwyg/wysiwyg.twig' with {
        content: bio_page_content_display,
        modifier_classes: 'c-bio-page__content c-wysiwyg--no-constrain'
      } %}
    {% endif %}
    {% if bio_page_quote %}
      {% include '@components/quote/quote.twig' with {
        quote_content: bio_page_quote,
        modifier_classes: 'c-bio-page__quote'
      } %}
    {% endif %}
    {% if bio_page_buttons %}
      <div class="c-bio-page__buttons">{{ bio_page_buttons }}</div>
    {% endif %}
  </div>
</div>
