{% set classes = [
  'c-video-lightbox',
  'u-hidden',
  modifier_classes ? modifier_classes : ''
] %}

{{ attach_library('slac/video_lightbox') }}

<div {{ add_attributes({ class: classes, id: lightbox_id, role: 'dialog' } ) }}>
  <div class="l-constrain c-video-lightbox__inner" role="document">
    <button type="button" class="js-lightbox__close c-video-lightbox__close">
      Close
      {% include '@components/icon/icon.twig' with {
        'icon_name': 'close',
        'hidden': true
      } %}
    </button>
    <h2 class="c-video-lightbox__title">
      {{ video_title }}
    </h2>
    {% if video_date %}
      <div class="c-video-lightbox__date">
        {{ video_date }}
      </div>
    {% endif %}
    <div class="c-video-lightbox__embed">
      {{ video_embed }}
    </div>
    {% if video_description %}
      <div class="c-video-lightbox__description">
        {{ video_description }}
      </div>
    {% endif %}
    {% if video_credit %}
      <div class="c-video-lightbox__credit">
        {{ video_credit }}
      </div>
    {% endif %}
    {% if video_details_url %}
      <a class="c-video-lightbox__button c-button c-button--chevron c-button--outline-secondary" href="{{ video_details_url }}">
        {{ 'Video details'|t }}
      </a>
    {% endif %}
  </div>
</div>
